# Environment Configuration Template
# This file serves as a template for environment variables
# Values will be populated from GitHub secrets during deployment

# Next.js Public API Configuration
NEXT_PUBLIC_API_URL=__NEXT_PUBLIC_API_URL__
NEXT_PUBLIC_KEYCLOAK_REALM=__NEXT_PUBLIC_KEYCLOAK_REALM__

# Authentication Configuration
AUTH_URL=__AUTH_URL__
AUTH_SECRET=__AUTH_SECRET__

# Keycloak Configuration
KEYCLOAK_ISSUER=__KEYCLOAK_ISSUER__
KEYCLOAK_CLIENT_ID=__KEYCLOAK_CLIENT_ID__
KEYCLOAK_CLIENT_SECRET=__KEYCLOAK_CLIENT_SECRET__

# Next Publicly Accessible Urls
NEXT_PUBLIC_SITE_URL=__NEXT_PUBLIC_SITE_URL__