KEYCLOAK_ISSUER=
KEYCLOAK_CLIENT_ID=
KEYCLOAK_CLIENT_SECRET=

# AUTH_URL=https://elimika.sarafrika.com
#old nextauth v4 needs prefix
AUTH_URL=http://localhost:3000
AUTH_SECRET=
#new auth v5 only needs AUTH_SECRET
AUTH_SECRET=

API_BASE_URL=https://api.elimika.sarafrika.com
KEYCLOAK_REALM=
